.main-row {
    width: 100vw;
    height: 100vh;
}

.user-card {
    width: 200px;
    height: 25vh;
    margin: 0 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.user-card .ant-card-body {
    padding: 5px;
}

.user-photo-row {
    padding: 15px;
}